<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="machosoftware.proyectopos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inventario"
            android:label="@string/title_activity_inventario" >
        </activity>
        <activity
            android:name=".Inventario_Categorias"
            android:label="@string/title_activity_categorias" >
        </activity>
        <activity
            android:name=".Inventario_Categorias_CategoriaAgregar"
            android:label="@string/title_activity_categoria_agregar" >
        </activity>
        <activity
            android:name=".Inventario_Items"
            android:label="@string/title_activity_items" >
        </activity>
        <activity
            android:name=".Historial"
            android:label="@string/title_activity_historial" >
        </activity>
        <activity
            android:name=".AdaptadorHistorial"
            android:label="@string/title_activity_adaptador_historial" >
        </activity>
        <activity
            android:name=".Inventario_Items_ItemsAgregar"
            android:label="@string/title_activity_items_agregar" >
        </activity>
    </application>

</manifest>
